/google-services.json
/GoogleService-Info.plist
node_modules
functions/lib
functions/node_modules
.env

# .expo/devices.json
/.expo/devices.json

/test-images

# agents
.agents/*
skills-lock.json


# Firebase
firebase-debug.log
firestore-debug.log
